<!DOCTYPE html>
<html ng-app="fbEventSlideshow">
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.1/angular-material.min.css" rel="stylesheet">
    <link href="app/css/app.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.1/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.5.0/angular-material-icons.min.js"></script>
    <script src="angular-easyfb.min.js"></script>
    <script src="app/app.js"></script>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />
</head>
<body layout="column" ng-controller="AppCtrl">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
                <md-icon aria-label="menu" md-font-library="material-icons" ng-style="{color: 'green', 'font-size':'36px', height:'36px'}">home</md-icon>
            </md-button>

            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-font-library="material-icons">home</md-icon>
            </md-button>
            <h1>Hello World</h1>
        </div>
    </md-toolbar>
    <div layout="row" flex>
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">

        </md-sidenav>
        <div layout="column" flex id="content">
            <md-content layout="column" flex class="md-padding">


                <a href="https://github.com/pc035860/angular-easyfb"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
                <div class="container">
                    <h2>angular-easyfb API demo</h2>
                    <div>
                        <button class="btn btn-primary" ng-click="login()" ng-disabled="loginStatus.status == 'connected'">Connect with Facebook</button>
                        &nbsp;
                        <button class="btn btn-danger" ng-click="logout()" ng-disabled="!loginStatus || loginStatus.status != 'connected'">Logout</button>
                        &nbsp;
                        <button class="btn btn-success" ng-click="share()">FB.ui</button>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="text-info">$FB.loginStatus()</h4>
                            <div class="code-block" hljs source="loginStatusJSON"></div>
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-info">$FB.api('/me')</h4>
                            <div class="code-block" hljs source="apiMeJSON"></div>
                        </div>
                    </div>
                </div>




            </md-content>
        </div>
    </div>
</body>
</html>
